{% extends 'bases/base.html' %}

{% block content %}
<div class='center_div ponkan'>
    <h3>Create Game</h3>
    <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            {{ form.name.errors }}
            <label for="{{ form.name.id_for_label }}">Name</label>
            {{ form.name }}
        </div>
        <div>
            {{ form.max_players.errors }}
            <label for="{{ form.max_players.id_for_label }}">Max Players</label>
            {{ form.max_players }}
        </div>
        <button type="submit" class="btn btn-success">Go</button>
    </form>
</div>
{% endblock %}